@media print {
  @page {
    size: A4;
    margin: 0;
  }

  body {
    -webkit-print-color-adjust: exact !important;
    print-color-adjust: exact !important;
    background: #050505 !important;
  }

  .no-print {
    display: none !important;
  }

  .print-only {
    display: block !important;
  }

  .leaflet-control-container {
    display: none !important;
  }

  .leaflet-pane {
    filter: grayscale(100%) contrast(1.2) !important;
  }
}

.print-only {
  display: none;
}